body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.traffic-light {
    width: 100px;
    height: 280px;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #777;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
.bttn{
    margin-top: 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;
}